@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
--Green500: hsl(171, 66%, 44%);
--Blue100: hsl(233, 100%, 69%);
--Gray700: hsl(210, 10%, 33%);
--Gray500: hsl(201, 11%, 66%)
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bai Jamjuree';
    display: flex;
    flex-direction: column;
    font-size: 18px;
    min-height: 100vh;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.main{
    padding: 4em;
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4em;
}

.detail{
    text-align: center;
    color: var(--Gray500);
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.detail-title{
    font-weight: 600;
    font-size: 1.2em;
    color: var(--Gray700);
}

.image-text{
    width: 100%;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    
}
.image-text .image1{
    width: 30em;
}
.image-text .image1 img{
    width: 100%;
    
}

.description p:first-of-type{
    font-size: 1.2em;
    font-weight: 600;
    color:var(--Gray700)
}
.description {
    font-size: 0.8em;
   color:var(--Gray500);
   
}
.image-text .text-detail {
    display: flex;
   flex-direction: column;
   gap: 20px;
   
}
.fisrt-section{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.image2{
    width: 80%;
    height: auto;
    padding: 20px;
}

.image2 img{
    width: 100%;
    object-fit: cover;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 20px;
}

.logo-text .icone{
    height:25px;
}

.logo-text .icone img{
    height: 100%;
    object-fit: cover;
}

.third-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.logo{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.img img{
     height: 25px;
    object-fit: cover;
}

.fourth-section{
    text-align: center;
   display: flex;
   flex-direction: column;
   gap: 24px;
    font-size: 0.8em;
   color:var(--Gray500);
}

.four{
    font-size: 1.2em;
    font-weight: 600;
    color:var(--Gray700)
}

footer{
    width: 100%;
    margin-top: 4em;
    padding: 12px;
    background-color: lightgray;
    color: var(--Gray500);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-footer{
    width: 30px;
}

.img-footer img{
    width: 100%;
}

.grid-footer a{
    padding: 5px;
    text-decoration: none;
    font-size: 0.8em;
    color:var(--Gray700);
}

.social-media img{
    object-fit: cover;
    width: 15px;
}

.social-media {
    display: flex;
    gap: 12px;
}

footer .grid-footer{
    display: grid;
    flex-direction: column;
    grid-auto-flow: column;              /* les nouveaux éléments créent des colonnes */
    gap: 0.5em;                           /* espace entre les liens */ 
    grid-template-rows: repeat(2, auto);

}

@media(max-width: 48em){
    .hero-buttons{
        display: flex;
        flex-direction: column;
    }

    .image-text{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .card{
        display: flex;
        flex-direction: column;
        word-wrap: normal;
        flex-wrap: wrap;
    }

    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .grid-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
